/* 배경 꽉 채우기 */

.full {
    width: 100%;
    /* height: 100vh; */
}

.slides {
    width: 100%;
    height: 100vh;
    gap: 20px;
    scroll-snap-align: start;
}

/* 글씨체 적용 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Jua', sans-serif;
}


/* 스크롤바 제거 */

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


/* 범위 지정 색상 변경 */

::-moz-selection {
    background: #b0c0fd;
    color: #000;
}

::selection {
    background: #b0c0fd;
    color: #000;
}