/* 배경 그림 */

.bgimg {
	background-size: cover;
	margin: 0px;
	background-attachment: fixed;
	background-position: center;
	scroll-snap-type: y mandatory;
}

.op_5 {
	background: rgba(0,0,0,0.5);
}

.title {
  	text-align : center;
  	line-height : 100vh;
	color: #fff;
	font-size: 10vw;
}

.splash-text,
.splash-p {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s, transform 1s;
    z-index: 1;
}
