/* 배경 그림 */

.bgimg {
	background-size: cover;
	margin: 0px;
	scroll-snap-type: y mandatory;
}

body::before {
	backdrop-filter: blur(100px);
}

.op_5 {
	background: rgba(0, 0, 0, 0.5);
}

.title {
	text-align: center;
	color: #fff;
	font-size: 10vw;
}

.splash-text,
.splash-p,
.splash-1,
.splash-2,
.splash-3,
.splash-4 {
	opacity: 0;
	display: inline-block;
	transform: translateY(-100px);
	transition: opacity 1s, transform 1s;
	z-index: 1;
	margin-top: 40vh;
}