.r {
    accent-color: red;
}
.g {
    accent-color: green;
}
.b {
    accent-color: blue;
}
input {
    width: 50vw;
    height: 2vw;
}
.d {
    float: left;
    margin-left: 0vw;
}
h1 {
    font-family: 'Jua', sans-serif;
}
.div {
    width: 50vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 2.5vw;
}
.hex {
    /*margin-top: 20vw;*/
}