.date {
	font-family: 'Jua', sans-serif;
	font-size: 2vw;
	color: #fff;
}
.time {
	font-family: 'Jua', sans-serif;
	margin-top: 5vw;
	font-size: 10vw;
	font-weight: bold;
	color: #fff;
}
.weekend {
	font-family: 'Jua', sans-serif;
	font-size: 2vw;
	font-weight: bold;
	color: #fff;
}
.menu {
	margin-top: 5vw;
	font-family: 'Jua', sans-serif;
	font-size: 2vw;
	font-weight: bold;
	color: #fff;
}
.tell {
	margin-top: 5vw;
	font-family: 'Jua', sans-serif;
	font-size: 4vw;
	font-weight: bold;
	color: #fff;
}
body {
	background-size: cover;
}