.splash-text,
.splash-p,
.splash-btn {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s, transform 1s;
    z-index: 1;
}

.ptitle {
    font-size: 2rem;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    width: 100vw;
    /* height: 200vh; */
    padding-top: 3vw;
}

.title {
    font-size: 5rem;
    color: white;
}

.subtitle {
    color: white;
    margin-right: 30vw;
    padding-top: 40vh;
    font-size: 3rem;
}

.bgimg {
    background-image: url('./../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.darkness {
    font-size: 10vw;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TheJamsil5Bold';
    background-color: #999;
}

input {
    width: 25vw;
    height: 5vw;
    border-radius: 1vw;
    font-size: 5vw;
}

.float {
    float: left;
    padding: 2vw;
}

#block {
    width: 60vw;
    cursor: pointer;
    overflow: hidden;
}

.bd {
    height: 75vh;
    box-shadow: 0 1em 1em rgba(50, 50, 50, 0.8);
    transition: all 1s ease;
    background: #fff;
    margin: 3vw;
    padding: 3vw;
    border-radius: 0.75rem;
}

.bd:hover {
    box-shadow: 0 1em 1em rgba(120, 120, 120, 0.8);
}

#text {
    display: inline-block;
    margin: 0px;
    font-size: 10vw;
}

#text1 {
    display: inline-block;
    margin: 0px;
    font-size: 5vw;
}

.font {
    font-size: 3vw;
}

#text.animate {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 250000s;
    transition-timing-function: linear;
    transform: infinite;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 20vw;
    height: 6vw;
    color: #fff;
    border-radius: 1vw;
    padding: 10px 25px;
    font-size: 2.5vw;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 14 */

.btn-14 {
    background: rgb(255, 151, 0);
    border: none;
    z-index: 1;
}

.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
    /* 7px 7px 20px 0px rgba(0,
    0,
    0,
    .1),
    4px 4px 5px 0px rgba(0,
    0,
    0,
    .1); */
}

.btn-14:hover {
    color: #000;
}

.btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-14:active {
    top: 2px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (width < 1000px) {
    .title {
        font-size: 10vw;
    }
    .subtitle {
        font-size: 5vw;
    }
    .bd {
        height: 35vh;
        margin-top: 2vh;
    }
    .ptitle {
        font-size: 3.5vw;
    }
    .block {
        display: none;
    }
}

@media (width>1000px) {
    .block {
        display: block;
    }
}