<link data-tag-href="/CSS/footer.css" rel="stylesheet" />
<body style="margin: 0px;">
    <footer class="footer">
        <center>
            <div class="footer-div">
                <p class="footer-center">© 2024 All rights reserved.</p>
                <a target="_blank" style="text-decoration: none; color: #C1C1C1"
                    data-tag-href="">포트폴리오!</a> |
                <a target="_blank" style="text-decoration: none; color: #717171"
                    data-tag-href="/site/nomo">NOMO</a> |
                <a target="_blank" style="text-decoration: none; color: #717171"
                    data-tag-href="/site/lunch">거제중학교
                    급식</a> |
                <a target="_blank" style="text-decoration: none; color: #717171"
                    data-tag-href="/site/binary">이진수
                    계산기</a> |
                <a target="_blank" style="text-decoration: none; color: #717171"
                    data-tag-href="/site/light">빛의
                    삼원색</a> |
                <a target="_blank" style="text-decoration: none; color: #717171"
                    data-tag-href="/site/pi">원주율</a>
                <center>
                    <hr class="footer-hr" />
                </center>
                <p class="footer-left">
                    이메일 hoo091221@gmail.com
                    <br />
                    <a data-tag-href="https://www.instagram.com/hoo_091221" style="color: #717171; text-decoration: none">인스타그램
                        @hoo_091221</a>
                    <br />이 사이트는 여러분의 개인정보를 수집하지 않습니다.<br>image copyright
                    <a data-tag-href="https://www.pixabay.com" style="color: #717171; text-decoration: none">www.pixabay.com</a>
                </p>
            </div>
        </center>
    </footer>
</body>
